-- Run this ONCE in Visual Studio / SSMS to fix a broken/partial MediSphereDb.
-- This drops the database so EF can recreate ALL tables (Users, Patients, EmailLogs, etc.)

USE master;
GO

IF EXISTS (SELECT 1 FROM sys.databases WHERE name = N'MediSphereDb')
BEGIN
    ALTER DATABASE [MediSphereDb] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [MediSphereDb];
    PRINT 'Dropped MediSphereDb';
END
GO

CREATE DATABASE [MediSphereDb];
GO

PRINT 'Created empty MediSphereDb. Now press F5 in Visual Studio to apply EF migrations.';
GO
